:root {
  --navColor: #fff686;
  --shadowNav: gray;
  --shadowHero: black;
  --borderColor: lightgray;
  --buttonTextColor: white;
  --hearthColor: #e90c59;
  --heroArrowSize: 4vw;
  --navbarHeight: 10vh;
  --heroTitleSize: 2.4vw;
  --heroCaptionSize: 1.6vw;
  --navbarText: 1.3vw;
}

h1 {
  font-size: var(--heroTitleSize);
}

h5 {
  font-size: var(--heroCaptionSize);
}

.navbar,
.footer {
  box-shadow: 0px 0px 10px var(--shadowNav);
}

.navbar {
  height: var(--navbarHeight);
}

.nav-text {
  font-size: var(--navbarText);
}

.hover-item {
  transition: 0.2s all ease-out;
}

.hover-item:hover,
.hover-item:active {
  color: var(--hearthColor);
}

.bg-light {
  background-color: var(--navColor) !important;
}

#heroCarousel {
  box-shadow: 0px 3px 10px var(--shadowHero);
}

#heroCarousel .carousel-inner .carousel-item img {
  height: 60vh;
}

#heroCarousel .carousel-inner .carousel-item .carousel-caption {
  text-shadow: -1px -1px 1px var(--shadowHero), 1px 1px 1px var(--shadowHero),
    -1px 1px 1px var(--shadowHero), 1px -1px 1px var(--shadowHero);
}

#heroCarousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-family: "Noto Sans", sans-serif;
}

.arrow {
  font-size: var(--heroArrowSize);
}

.card-text {
  text-align: center;
}

.btn {
  color: var(--buttonTextColor) !important;
  font-weight: bold;
}

.btn-align {
  margin: 3% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  :root {
    --heroArrowSize: 9.3vw;
    --heroTitleSize: 5.2vw;
    --heroCaptionSize: 2.8vw;
  }

  .navbar {
    min-height: 6vw;
  }

  #heroCarousel .carousel-inner .carousel-item img {
    height: 40vh;
    min-height: 400px;
  }

  .dont-reduce {
    width: 100% !important;
    margin: 0 !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  :root {
    --heroArrowSize: 9.3vw;
    --heroTitleSize: 5.6vw;
    --heroCaptionSize: 2.6vw;
  }

  .navbar {
    min-height: 9.5vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  :root {
    --heroArrowSize: 11vw;
    --heroTitleSize: 8.5vw;
    --heroCaptionSize: 4.4vw;
  }

  .navbar {
    min-height: 11vw;
  }

  #heroCarousel .carousel-inner .carousel-item img {
    height: 60vh;
  }
}
