/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  --borderColor: lightgray;
  --fontColor: #362e3b;
  --bgColor: #fff9f7;
  --titlesSize: 2.4vw;
  --textSize: 1.5vw;
}

/* Design settings */
.mob-version {
  display: none !important;
}

/* General values */
body {
  font-family: "Noto Sans", sans-serif;
  color: var(--fontColor);
  background-color: var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sansita Swashed", cursive;
  text-align: center;
}

h2 {
  font-size: var(--titlesSize);
  margin-bottom: 3.5%;
}

p,
.card-text,
.btn {
  font-size: var(--textSize);
}

hr {
  margin: 5%;
}

a {
  color: var(--fontColor);
}

/* Sections management */
.content {
  margin: 3% auto 1% auto;
}

.reduce {
  width: 85%;
  border-bottom: var(--borderColor);
}

/* Status */
.status-col {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}

.status-img {
  margin: 4vh auto 1.8vh auto;
}

/* Cares */
.cares {
  width: 80%;
}

.cares p {
  margin-bottom: 4%;
}

/* Map */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 90%;
  height: 70vh;
}
