/* Used to search mistakes
* {
  border: 1px solid black !important;
}
*/

#logo {
  width: 4.5vw;
  height: 3.8vw;
  margin: auto;
}

.status-img {
  font-size: 8.5vw;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  /* Visual management */
  .mob-version {
    display: flex !important;
  }

  .pc-version {
    display: none !important;
  }
}

@media (max-width: 768px) {
  /* Map */
  .map {
    height: 60vh;
  }
}

@media (max-width: 576px) {
  /* Sections management */
  .content {
    margin: 5% auto 2% auto;
  }

  .reduce {
    width: 90%;
  }

  /* Logo */
  #logo {
    width: 13vw;
    height: 11.5vw;
  }

  /* Text */
  h2 {
    font-size: 8vw;
  }

  p,
  .card-text,
  .btn {
    font-size: 4vw;
  }

  .card-title {
    font-size: 4.7vw;
  }

  /* Status */
  .status-img {
    font-size: 18vw;
  }
}
