/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  --borderColor: lightgray;
  --fontColor: #362e3b;
  --bgColor: #fff9f7;
  --heroArrowSize: 3rem;
  --mobileMenuSize: 1.5rem;
}

/* Design settings */
.mob-version {
  display: none !important;
}

/* General values */
body {
  font-family: "Noto Sans", sans-serif;
  color: var(--fontColor);
  background-color: var(--bgColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sansita Swashed", cursive;
  text-align: center;
}

h2 {
  margin-bottom: 3.5%;
}

hr {
  margin: 5%;
}

a,
#ser-link {
  color: var(--fontColor);
}

/* Animation */
.animation {
  transform: scale(0.95);
  transition: 0.2s all;
}

.animation:hover {
  filter: saturate(1.3);
  transform: scale(1);
}

/* Navbar */
#menu-btn {
  color: var(--fontColor);
  font-size: var(--mobileMenuSize);
}

/* Carousel's arrow */
.arrow {
  font-size: var(--heroArrowSize);
}

/* Sections management */
.content {
  margin: 3% auto 1% auto;
}

.reduce {
  width: 85%;
  border-bottom: var(--borderColor);
}

/* Navbar */
.navbar {
  height: 10vh;
}

/* About us */
.us-card {
  width: 70%;
  height: 40%;
  padding: 1%;

  border-radius: 5px;
  border: 1px solid var(--borderColor);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.us-card .card-figure {
  max-width: 40%;
  margin: auto;
}

.us-card .card-text {
  max-width: 50%;
  margin: auto;
}

#reverse {
  flex-direction: row-reverse !important;
}

/* Deals */
.de-card {
  margin: auto;
  width: 60%;
}

#de-card-second {
  margin-top: 2%;
}

/* Services */
.ser-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Products */
.prod-car {
  width: 90%;
}

.organize {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Map */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 90%;
  height: 70vh;
}
