:root {
  --color: #fff686;
  --fontColor: #362e3b;
}

a,
a:active {
  text-decoration: none;
  color: var(--fontColor);
}

.menu {
  background-color: var(--color);
  width: 100%;
  padding: 5% 0;
}

#menu-content .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.menu h2 {
  margin: 0 auto;
  margin-bottom: 3%;
}

.menu-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-text,
.menu-col {
  text-decoration: none !important;
  color: var(--fontColor);
}

.menu-btn {
  margin-bottom: 3%;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .menu-img {
    width: 20vw;
    height: 20vw;
    margin-bottom: 3%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .menu-img {
    width: 25vw;
    height: 25vw;
    margin-bottom: 3%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .menu-img {
    width: 30vw;
    height: 30vw;
  }
}
