:root {
  --iconSize: 5vw;
  --facebookColor: #3b5998;
  --instagramColor: #cd486b;
  --footerTitleSize: 1.6vw;
  --footerTextSize: 1.3vw;
}

h5 {
  font-size: var(--footerTitleSize);
}

.footer-text {
  font-size: var(--footerTextSize);
}

.license {
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-icon,
.insta-icon {
  font-size: var(--iconSize);

  margin: 0 0.5vw;

  transform: scale(0.95);
  transition: 0.2s all;
}

.face-icon:hover {
  color: var(--facebookColor);

  transform: scale(1);
}

.insta-icon:hover {
  color: var(--instagramColor);

  transform: scale(1);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  :root {
    --iconSize: 6.4vw;
    --footerTitleSize: 2.2vw;
    --footerTextSize: 1.7vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  :root {
    --iconSize: 10vw;
    --footerTitleSize: 2.8vw;
    --footerTextSize: 2.5vw;
  }

  .icons {
    flex-direction: column;
  }

  .license img {
    margin: 3vw auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  :root {
    --iconSize: 9vw;
    --footerTitleSize: 2.6vw;
    --footerTextSize: 2.2vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  :root {
    --iconSize: 12vw;
    --footerTitleSize: 4.4vw;
    --footerTextSize: 3.8vw;
  }
}
