:root {
    --iconSize: 3.5rem;
    --facebookColor: #3b5998;
    --instagramColor: #cd486b;
}

.license {
    display: flex;
    justify-content: center;
    align-items: center;
}

.face-icon , .insta-icon {
    font-size: var(--iconSize);

    margin: 0 10px;

    transform: scale(0.95);
	transition: 0.2s all;
}

.face-icon:hover {
    color: var(--facebookColor);

    transform: scale(1);
}

.insta-icon:hover {
    color: var(--instagramColor);

    transform: scale(1);
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .footer .text-muted {
        font-size: 16px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .icons {
        flex-direction: column;
    }

    .license img {
        margin: 10px auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 

}
