/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Eliminating Browser Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}

/* Hearth Icon */
@keyframes ldio-7204pn5nxbe {
    0% { transform: scale(.85) }
    5% { transform: scale(1) }
   39% { transform: scale(.75) }
   45% { transform: scale(.9) }
   60% { transform: scale(.85) }
  100% { transform: scale(.8) }
}
.ldio-7204pn5nxbe > div {
  animation: ldio-7204pn5nxbe 1.333333333333333s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  transform-origin: 100px 100px;
}
.ldio-7204pn5nxbe > div div {
  top: 65px;
  left: 50px;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #e90c59;
  transform: rotate(45deg);
}
.ldio-7204pn5nxbe > div div:after, .ldio-7204pn5nxbe > div div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background: #e90c59;
}
.ldio-7204pn5nxbe > div div:before {
  left: -65px;
  border-radius: 50% 0 0 50%;
}
.ldio-7204pn5nxbe > div div:after {
  top: -65px;
  border-radius: 50% 50% 0 0;
} 
.loadingio-spinner-heart-m8ujcgkbyg {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-7204pn5nxbe {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-7204pn5nxbe div { box-sizing: content-box; }

/* Variables */
:root{
    --navHeight: 60px;
    --heroImageHeight: 400px;
    --mainHeight: 2000px;
    --footerHeight: 160px;
    --growOne: 0;
    --growTwo: 1;
    --growThree: 4;
    --navColor: #FFF686;
    --bgColor: #FFF9F7;
    --fontColor: #362E3B;
    --borderColor: lightgray;
    --footerColor: #CDFF94;
}

/* PC Version */

/* Body - General Things */
body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--fontColor);
    background-color: var(--bgColor);
}

/* Page Loader */
.hidden {
    overflow: hidden;
}

.centered {
    height: 100vh;
    background-color: var(--navColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar */
.nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: var(--navHeight);
    background-color: var(--navColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuButton {
    display: none;
}

.menuImage {
    width: 40px;
    height: 40px;
}

.logo {
    overflow: hidden;
    flex-grow: var(--growTwo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage {
    width: 92px;
    height: 42px;
}

.options {
    flex-grow: var(--growThree);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.option{
    margin: 0 20px;
}

/* Mobile Menu */
.menu { /*  PENDIENTEEEEE  */
    display: none;
}

/* Main Size */
.main {
    height: var(--mainHeight);
}

/* Hero */
.hero {
    padding-top: var(--navHeight);
}

.carousel-inner {
    height: var(--heroImageHeight);
}

/* Content */
.space {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.content {
    border-bottom: solid 2px var(--borderColor);
}

/* Footer */
.footer {
    width: 100%;
    height: var(--footerHeight);
    background-color: var(--footerColor);
    padding-top: 10px;
}

.footer, .footer a {
    text-decoration: none;
    font-size: 10px;
    color: var(--fontColor);
    text-align: center;
}

.order {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.license, .contactInfo, .socialMedia {
    flex-grow: 1;
}

.contactInfo {
    font-size: 12px;
    text-align: left;
}

.thanks {
    padding-top: 10px;
}

/* Media Queries */
@media all and (max-width: 767) {
    /* Phone */

    :root{
        --navHeight: 50px;
        --heroImageHeight: 100%;
        --mainHeight: 2000px;
        --footerHeight: 195px;
        --growOne: 1;
        --growTwo: 1;
        --growThree: 1;
    }

    .menuButton{
        overflow: hidden;
        flex-grow: var(--growOne);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .options {
        opacity: 0;
        flex-grow: var(--growThree);
        display: block;
    }

    .option {
        opacity: 0;
        font-size: 1px;
    }
}

@media all and (max-width: 1024px) {
    /* Tablet */

    :root {
        --navHeight: 70px;
        --heroImageHeight: 100%;
        --mainHeight: 2000px;
        --footerHeight: 165px;
        --growOne: 1;
        --growTwo: 1;
        --growThree: 1;
    }

    .menuButton{
        overflow: hidden;
        flex-grow: var(--growOne);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 30px;
    }

    .logo {
        margin-right: 30px;
    }
    
    .options {
        opacity: 0;
        flex-grow: var(--growThree);
        display: block;
    }

    .option {
        opacity: 0;
        font-size: 1px;
    }
}

/*
Aplicar min y max width
*/
