/* 
    Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700&display=swap');


/* 
    Eliminating Browser Settings
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}


/* 
    Page Loader - Hearth Icon Code 
*/
@keyframes ldio-7204pn5nxbe {
    0% { transform: scale(.85) }
    5% { transform: scale(1) }
   39% { transform: scale(.75) }
   45% { transform: scale(.9) }
   60% { transform: scale(.85) }
  100% { transform: scale(.8) }
}

.ldio-7204pn5nxbe > div {
  animation: ldio-7204pn5nxbe 1.333333333333333s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  transform-origin: 100px 100px;
}

.ldio-7204pn5nxbe > div div {
  top: 65px;
  left: 50px;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #e90c59;
  transform: rotate(45deg);
}

.ldio-7204pn5nxbe > div div:after, .ldio-7204pn5nxbe > div div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background: #e90c59;
}

.ldio-7204pn5nxbe > div div:before {
  left: -65px;
  border-radius: 50% 0 0 50%;
}

.ldio-7204pn5nxbe > div div:after {
  top: -65px;
  border-radius: 50% 50% 0 0;
} 

.loadingio-spinner-heart-m8ujcgkbyg {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-7204pn5nxbe {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-7204pn5nxbe div { 
    box-sizing: content-box; 
}

.hidden {
    overflow: hidden;
}

.centered {
    height: 100vh;
    background-color: var(--navColor);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 
    General Values 
*/
:root{
    --navHeight: 60px;
    --heroImageHeight: 400px;
    --mainHeight: 2000px;
    --footerHeight: 160px;
    --growOne: 0;
    --growTwo: 1;
    --growThree: 4;
    --navColor: #FFF686;
    --bgColor: #FFF9F7;
    --fontColor: #362E3B;
    --borderColor: lightgray;
    --footerColor: #CDFF94;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--fontColor);
    background-color: var(--bgColor);
}

h1, h2, h3, h4, h5 {
    font-family: 'Sansita Swashed', cursive;
}


/* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    
    

}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    /* Navigation Bar */
    .nav {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: var(--navHeight);
        background-color: var(--navColor);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuButton {
        display: none;
    }

    .menuImage {
        width: 40px;
        height: 40px;
    }

    .logo {
        overflow: hidden;
        flex-grow: var(--growTwo);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoImage {
        width: 92px;
        height: 42px;
    }

    .options {
        flex-grow: var(--growThree);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .option{
        margin: 0 20px;
    }

    /* Mobile Menu */
    .menu {
        display: none;
    }

    /* Main Size */
    .main {
        height: var(--mainHeight);
    }

    /* Hero */
    .hero {
        padding-top: var(--navHeight);
    }

    .hero h1 {
        font-size: 10px;
    }

    .carousel-caption {
        bottom: 5%;
        z-index: 10;
    }

    .carousel-item {
        height: var(--heroImageHeight);
    }

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: var(--heroImageHeight)
    }

    /* Content */
    .space {
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }

    .content {
        border-bottom: solid 2px var(--borderColor);
    }

    /* Footer */
    .footer {
        width: 100%;
        height: var(--footerHeight);
        background-color: var(--footerColor);
        padding-top: 10px;
    }

    .footer, .footer a {
        text-decoration: none;
        font-size: 10px;
        color: var(--fontColor);
        text-align: center;
    }

    .order {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .license, .contactInfo, .socialMedia {
        flex-grow: 1;
    }

    .contactInfo {
        font-size: 12px;
        text-align: left;
    }

    .thanks {
        padding-top: 10px;
    }
}


/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    /* Variables */
    :root {
        --navHeight: 70px;
        --heroImageHeight: 100%;
        --mainHeight: 2000px;
        --footerHeight: 165px;
        --growOne: 1;
        --growTwo: 1;
        --growThree: 1;
    }

    /* Navigation Bar */
    .nav {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: var(--navHeight);
        background-color: var(--navColor);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuButton {
        overflow: hidden;
        flex-grow: var(--growOne);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 30px;
    }

    .menuImage {
        width: 40px;
        height: 40px;
    }

    .logo {
        overflow: hidden;
        flex-grow: var(--growTwo);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }

    .logoImage {
        width: 92px;
        height: 42px;
    }

    .options {
        opacity: 0;
        flex-grow: var(--growThree);
        display: block;
    }

    .option{
        opacity: 0;
        font-size: 1px;
    }

    /* Mobile Menu */
    .menu {
        display: none;
    }

    /* Main Size */
    .main {
        height: var(--mainHeight);
    }

    /* Hero */
    .hero {
        padding-top: var(--navHeight);
    }

    .hero h1 {
        font-size: 10px;
    }

    .carousel-caption {
        bottom: 5%;
        z-index: 10;
    }

    .carousel-item {
        height: var(--heroImageHeight);
    }

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: var(--heroImageHeight)
    }

    /* Content */
    .space {
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }

    .content {
        border-bottom: solid 2px var(--borderColor);
    }

    /* Footer */
    .footer {
        width: 100%;
        height: var(--footerHeight);
        background-color: var(--footerColor);
        padding-top: 10px;
    }

    .footer, .footer a {
        text-decoration: none;
        font-size: 10px;
        color: var(--fontColor);
        text-align: center;
    }

    .order {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .license, .contactInfo, .socialMedia {
        flex-grow: 1;
    }

    .contactInfo {
        font-size: 12px;
        text-align: left;
    }

    .thanks {
        padding-top: 10px;
    }
}


/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* Copiar el de arriba */
    
}


/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (max-width: 767px) {
    /* Variables */
    :root{
        --navHeight: 50px;
        --heroImageHeight: 60vh;
        --mainHeight: 3000px;
        --footerHeight: 195px;
        --growOne: 1;
        --growTwo: 3;
        --growThree: 1;
    }

    /* Navigation Bar */
    .nav {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: var(--navHeight);
        background-color: var(--navColor);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuButton {
        overflow: hidden;
        flex-grow: var(--growOne);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menuImage { /**/
        width: 30px;
        height: 30px;
        background-image: url('../img/menu.svg');
        background-size: cover;
        transition: 0.5s ease-out;
    }

    .menuImage:Hover { /**/
        background-image: url('../img/menuHover.svg');
        background-size: cover;
    }

    .logo {
        overflow: hidden;
        flex-grow: var(--growTwo);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoImage {
        width: 60px;
        height: 42px;
        margin: 0 auto;
    }

    .options {
        opacity: 1;
        flex-grow: var(--growThree);
    }

    .option{
        opacity: 0;
        font-size: 1px;
    }

    /* Mobile Menu */
    .menu {
        display: none; /*   PENDIENTEEEEEE      */
    }

    /* Main Size */
    .main {
        height: var(--mainHeight);
    }

    /* Hero */
    .hero {
        padding-top: var(--navHeight);
    }

    .hero h1 { /**/
        font-size: 24px;
        font-weight: bold;
    }

    .hero p { /**/
        font-size: 16px;
        font-weight: bold;
    }

    .carousel-caption {
        bottom: 5%;
        z-index: 10;
    }

    .carousel-item {
        height: var(--heroImageHeight);
    }

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: var(--heroImageHeight)
    }

    /* Content */
    .space {
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }

    .space h2 { /**/
        font-size: 24px;
        margin: 25px 0 20px 0;
    }

    #firstH2 { /**/
        margin: 40px 0 20px 0;
    }

    p { /**/
        font-size: 16px;
    }

    .content {
        border-bottom: solid 2px var(--borderColor);
    }

    .aboutBox { /**/
        height: 160px;
        margin-bottom: 20px;
        border: solid 2px var(--borderColor);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .aboutImage { /**/
        width: 40%;
        height: 90%;
        margin: 10px;
    }

    .aboutInfo { /**/
        margin: auto;
        text-align: left;
    }

    .adContainer { /**/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .adImage { /**/
        width: 100%;
        height: 160px;
    }

    .adText { /**/
        text-align: center;
        margin: 0 auto 20px auto;
    }

    .serviceContainer { /**/
        width: 100%;
        height: 510px;
        margin: 0 auto;
        box-sizing: border-box;
        display: grid;
        grid-template-areas:
        'one two'
        'three four'
        'five six';
        grid-template-columns: 50% 50%;
        grid-template-rows: 150px 150px 150px;
    }

    .serviceBox { /**/
        margin: 0 auto;
        display: grid;
        grid-template-areas:
        'image'
        'description';
        grid-template-columns: 100%;
        grid-template-rows: 110px 40px;
    }

    .serviceImage { /**/
        grid-area: image;
        margin: 0 auto;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .serviceText{ /**/
        grid-area: description;
        font-size: 14px;
        text-align: center;
    }

    #a1 {
        grid-area: one;
    }
    #a2 {
        grid-area: two;
    }
    #a3 {
        grid-area: three;
    }
    #a4 {
        grid-area: four;
    }
    #a5 {
        grid-area: five;
    }
    #a6 {
        grid-area: six;
    }


    /* Footer */
    .footer {
        width: 100%;
        height: var(--footerHeight);
        background-color: var(--footerColor);
        padding-top: 10px;
    }

    .footer, .footer a {
        text-decoration: none;
        font-size: 10px;
        color: var(--fontColor);
        text-align: center;
    }

    .order {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .license, .contactInfo, .socialMedia {
        flex-grow: 1;
    }

    .contactInfo {
        font-size: 12px;
        text-align: left;
    }

    .thanks {
        padding-top: 10px;
    }
}
