<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Joshua Immanuel Meza Magana">
        <meta name="keywords" content="perro,criadero,mascotas,cachorros,cachorritos,yorkie,yorkshire terrier,Mérida,Yucatán,México,Conkal,fashion pets margon">
        
        <title>Fashión Pet's Margon</title>
        
        <!-- BOOTSTRAP CDN -->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="../css/custom.css">
        
        <!-- CUSTOM CSS -->
	    <link rel="stylesheet" type="text/css" href="../css/dogs.css">
	    <link rel="stylesheet" type="text/css" href="../css/dogs-m.css">
        <link rel="stylesheet" type="text/css" href="../css/social-net.css">
        <link rel="stylesheet" type="text/css" href="../css/menu.css">
        <link rel="stylesheet" type="text/css" href="../css/loader.css">

        <!-- FONT AWESOME CDN -->
	    <script src="https://kit.fontawesome.com/c701fdf070.js" crossorigin="anonymous"></script>

        <!-- Icon -->
        <link href="../img/icon/favicon.png" rel="shortcut icon" type="image/png">
    </head>



    <body>
        <!-- Page Loader -->
        <div class="preloader" id="onload">
            <div class="loadingio-spinner-heart-m8ujcgkbyg"><div class="ldio-7204pn5nxbe">
            <div><div></div></div>
            </div></div>
        </div>



        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/icon/favicon.png" id="logo" alt="Logo">
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pc-version">
                    <a class="nav-link nav-text" href="../index.html">Inicio</a>
                </li>
                <li class="nav-item dropdown active pc-version">
                    <a class="nav-link dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mascotas<span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item hover-item nav-text" href="bulldog.html"><i class="fas fa-paw"></i> Bulldog Inglés</a>
                        <a class="dropdown-item active nav-text" href="yorkie.html"><i class="fas fa-dog"></i> Yorkshire Terrier</a>
                        <a class="dropdown-item hover-item nav-text" href="shihtzu.html"><i class="fas fa-paw"></i> Shih Tzu</a>
                    </div>
                </li>
                <li class="nav-item pc-version">
                    <a class="nav-link nav-text" href="https://api.whatsapp.com/send?phone=+529993500913&text=¡Hola!%20Me%20gustaría%20agendar%20una%20cita." target="blank">Agendar una cita</a>
                </li>
                <li class="nav-item mob-version">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </li>
            </ul>
        </nav>



        <!-- Mobile Menu -->
        <div class="collapse menu" id="menu-content">
            <h2>Mascotas</h2>

            <div class="row justify-content-center">
                <div class="col-6 menu-col">
                    <a href="./bulldog.html" class="menu-col">
                        <img src="../img/dogs/bulldogHeroThreeMobile.png" alt="Pitbull" class="rounded-circle menu-img">
                        <p class="text-center menu-text">Bulldog Inglés</p>
                    </a>
                </div>
                <div class="col-6 menu-col">
                    <a href="./yorkie.html" class="menu-col">
                        <img src="../img/dogs/yorkHeroOneMobile.png" alt="Yorkshire Terrier" class="rounded-circle menu-img">
                        <p class="text-center menu-text">Yorkshire Terrier</p>
                    </a>
                </div>
                <div class="col-6 menu-col">
                    <a href="./shihtzu.html" class="menu-col">
                        <img src="../img/dogs/shihHeroOneMobile.png" alt="Shihtzu" class="rounded-circle menu-img">
                        <p class="text-center menu-text">Shihtzu</p>
                    </a>
                </div>
            </div>

            <h2>Otras opciones</h2>

            <div class="container btn-align">
                <a href="../index.html">
                    <button type="button" class="btn btn-info menu-btn">Volver al inicio</button>
                </a>
            </div>

            <div class="container btn-align">
                <a href="https://api.whatsapp.com/send?phone=+529993500913&text=¡Hola!%20Me%20gustaría%20agendar%20una%20cita."
                    target="blank">
                    <button type="button" class="btn btn-warning menu-btn">¡Agenda una cita ya!</button>
                </a>
            </div>

        </div>



        <main>

            <!-- Hero -->
            <div class="reduce mx-auto dont-reduce">
                <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#heroCarousel" data-slide-to="1"></li>
                        <li data-target="#heroCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../img/dogs/yorkHeroOne.png" class="d-block w-100" alt="Imagen ilustrativa" id="indexHeroOne">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Yorkshire Terrier</h1>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../img/dogs/yorkHeroTwo.png" class="d-block w-100" alt="Imagen ilustrativa" id="indexHeroTwo">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Yorkshire Terrier</h1>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../img/dogs/yorkHeroThree.png" class="d-block w-100" alt="Imagen ilustrativa" id="indexHeroThree">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Yorkshire Terrier</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                        <i class="fas fa-angle-double-left arrow"></i>
                    </a>
                    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                        <i class="fas fa-angle-double-right arrow"></i>
                    </a>
                </div>
            </div>



            <!-- History -->
            <section class="content reduce">
                <h2>Un poco de historia</h2>

                <div class="text-justify mx-auto reduce">
                    <p>
                        La raza se originó en Yorkshire y la contigua Lancashire, una escarpada 
                        región al norte de Inglaterra. A mediados del siglo XIX, obreros procedentes 
                        de Escocia llegaron a Yorkshire en busca de trabajo, trayendo consigo diferentes 
                        variedades de pequeños terrier. La cría del Yorkshire Terrier fue realizada 
                        principalmente por trabajadores (en su mayoría de los molinos o fábricas de 
                        algodón y lana) en los condados de Yorkshire y Lancashire.
                    </p>
                    <p>
                        En 1891 una autoridad en la raza escribió: “Huddersfield Ben fue el mejor semental
                        de su raza a lo largo de su vida, y uno de los perros más notables de cualquier raza 
                        animal que jamás haya existido”. La mayoría de los ejemplares en las exhibiciones de 
                        hoy tienen uno o más cruces de su sangre en su pedigrí.
                    </p>
                    <p>
                        Huddersfield Ben se convirtió rápidamente en el tipo de perro que todos querían, y a 
                        través de sus cachorros se definió a la raza tal y como se conoce hoy en día. Él es 
                        responsable de producir la mayor parte de la base fundacional del Yorkshire Terrier, 
                        por lo que se considera el padre de la raza.
                    </p>
                </div>

                <hr>
            </section>



            <section class="content reduce">
                <h2>Estado del perrito</h2>

                <div class="row mx-auto justify-content-center reduce">
                    <div class="col-6 col-sm-4 status-col">
                        <i class="fas fa-syringe status-img"></i>
                        <p class="text-center">Vacunado</p>
                    </div>
                    <div class="col-6 col-sm-4 status-col">
                        <i class="fas fa-tablets status-img"></i>
                        <p class="text-center">Desparacitado</p>
                    </div>
                    <div class="col-6 col-sm-4 status-col">
                        <i class="fas fa-bug status-img"></i>
                        <p class="text-center">Protegido de pulgas y garrapatas</p>
                    </div>
                </div>

                <hr>
            </section>
            


            <section class="content reduce">
                <h2>Cuidados preventivos</h2>

                <div class="cares mx-auto">
                    <p class="text-left"><i class="fas fa-paw"></i>
                        Al ser perritos de manto largo se recomienda cepillado diario y 
                        baño una vez a la semana como mínimo para el mantenimiento apropiado.
                    </p>

                    <p class="text-left"><i class="fas fa-paw"></i>
                        Suelen tener una esperanza de vida de 10 años aproximadamente. 
                    </p>

                    <p class="text-left"><i class="fas fa-paw"></i>
                        Al tratarse de Terriers, es muy importante considerar que nuestro perrito 
                        nos defenderá de cualquier factor que él considere de riesgo.  
                    </p>

                    <p class="text-left"><i class="fas fa-paw"></i>
                        Es un cazador innato, por lo que es normal que persiga iguanas, 
                        aves o alguna mascota de tamaño pequeño.  
                    </p>

                    <p class="text-left"><i class="fas fa-paw"></i>
                        ¡Es un perrito con mucha energía y muy juguetón! Por lo que es 
                        excelente con los niños.  
                    </p>
                </div>

                <hr>
            </section>



            <!-- Contact Us -->
            <section class="content reduce">
                <h2> Contáctanos </h2>

                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.7898991899743!2d-89.52537117082386!3d21.06628699912363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDAzJzU4LjYiTiA4OcKwMzEnMjkuNCJX!5e0!3m2!1ses-419!2smx!4v1604821207044!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="map"></iframe>
                </div>
            </section>

        </main>



        <!-- Footer -->
        <footer class="footer bg-light mt-5 pt-2">
            <div class="row mx-0">
                <div class="col-0 col-sm-0 col-lg-2 license pc-version">
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
                            alt="Licencia Creative Commons" style="border-width:0"
                            src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                </div>
                <div class="col-9 col-sm-9 col-lg-8">
                    <h5 class="text-left">Más información</h5>
                    <ul class="list-unstyled text-small">
                        <li class="text-muted footer-text"><i class="far fa-clock"></i> ¡Siempre estamos disponibles!</li>
                        <li><a class="text-muted footer-text" href="https://api.whatsapp.com/send?phone=+529993500913" target="blank"><i
                                    class="fab fa-whatsapp-square"></i> +52 999 - 350 - 0913</a></li>
                        <li><a class="text-muted footer-text" href="https://api.whatsapp.com/send?phone=+529996436889" target="blank"><i
                                    class="fab fa-whatsapp-square"></i> +52 999 - 643 - 6889</a></li>
                        <li><a class="text-muted footer-text" href="https://goo.gl/maps/9rwoEFwtA2TAXzKW9" target="blank"><i
                                    class="fas fa-map-marked-alt"></i> Calle 26 número 148 por 35 y 37 colonia Beatriz
                                Velazco Alemán</a></li>
                        <li class="pc-version"><a class="text-muted footer-text" href="mailto:fashionpetsmargon@gmail.com"
                                target="blank"><i class="fas fa-envelope"></i> fashionpetsmargon@gmail.com</a></li>
                        <li class="mob-version"><a class="text-muted footer-text" href="mailto:fashionpetsmargon@gmail.com"
                                target="blank"><i class="fas fa-envelope"></i> fashionpetsmargon<br>@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-3 col-sm-3 col-lg-2 icons">
                    <a href="https://www.facebook.com/FashionPetsMargon/" target="blank"><i
                            class="fab fa-facebook-square face-icon"></i></a>
                    <a href="https://www.instagram.com/fashionpetsmargon/" target="blank"><i
                            class="fab fa-instagram-square insta-icon"></i></a>
                </div>

            </div>

            <div class="license mob-version">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licencia Creative Commons"
                        style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            </div>

        </footer>



        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        <!-- BOOTSTRAP'S SCRIPTS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

        <!-- CUSTOM SCRIPT -->
        <script src="../js/yorkieReplacement.js"></script>
        <script src="../js/script.js"></script>
    </body>
</html>